<div class="box pink" id="box-text">
  <div class="box-head">
    <label class="box-label" for="input-text">Input Text</label>
    <label class="txt-pick">Choose '.txt' file<input type="file" class="txt-file" accept=".txt,text/plain" hidden></label>
  </div>
  <textarea id="input-text" placeholder="Type text, or drop a .txt file here"></textarea>
</div>

<div class="box pink" id="box-file" hidden>
  <span class="box-label">Input File</span>
  <label class="dropzone" id="dropzone">
    <input type="file" id="input-file">
    <span id="file-name">Drop file or click</span>
  </label>
</div>