{% extends 'base.html' %}

{% block content %}
<section class="hero">
  <h1>Encrypt &amp; Decrypt,<br>One More Time with Us!</h1>
  <p class="credit">Created by Group 5 - Cryptography</p>
  {% include 'partials/_tabs.html' %}
  <img class="maskot maskot-hero" src="{{ url_for('static', filename='img/maskot.png') }}" alt="Maskot OTiPad">
</section>

<form id="otp-form" novalidate>
  {% include 'partials/_input_panel.html' %}
  {% include 'partials/_key_panel.html' %}
  <button type="submit" class="btn btn-submit" id="btn-submit"></button>
</form>

<p id="error" class="error" role="alert" hidden></p>

{% include 'partials/_result_panel.html' %}
{% endblock %}